* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #0D0D0D;
}

main { 
    background-image: url(../assets/img/fondo/The-Last-of-Us.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


@font-face {
    font-family: BebasNeue;
    src: url("../assets/fonts/bebas_neue/BebasNeue-Regular.otf");
}

/* ESTILOS INDEX */

.pindex {
    grid-area: parrafo;
    padding: 10px 10px 0px 10px;
    font-size: 1.2rem;
    text-align: center;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}




#mainIndex {
    min-height: 100%;
}

/* ESTILOS CABECERA */

.header {
    background-color: #0D0D0D;
    grid-area: header;
    height: 15vh;
    display: flex;
    flex-direction: row;

}

.logo {
    padding: 10px;
    font-family: BebasNeue;
    font-size: 3rem;
    color: white;
}

.color-div {
    padding: 0;
    background-color: #0D0D0D;
    height: 15vh;
}

.navbar {
    padding: 0;
    width: 100%;
}

.nav-link {
    padding: 10px;
    background-color: #0D0D0D;
    color: white;
}

.navbar-toggler {
    background-color: white;
}

.collapse {
    justify-content: flex-end;
}

/* ESTILOS PRINCIPALES */

#mainPersonajes {
    min-height: 100%;
}


.img-index {
    width: 370px;
    height: 300px;
}

.iframeIndex {
    width: 600px;
    height: 300px;
}

.iframe-serie {
    width: 100%;
}

.img-historia {
    width: 100%;
}

.col {
    display: flex;
    justify-content: space-evenly;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

#parrafoIndex {
    padding: 30px 0px 30px 0px;
    color: white;
}

#personajeJoel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1rem;
    width: 100%;
}

#personajeEllie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    left: 0;
    padding: 10px 10px 0px 0px;
    font-size: 1rem;
}

#infoJoel {
    color: white;
    width: 75%;
    padding: 30px 10px 0px 10px;
    font-size: 1.2rem;
}

#infoEllie {
    color: white;
    width: 75%;
    font-size: 1.2rem;
    margin-top: 50px;
}

.parrafoSerie {
    color: white;
    font-size: 1.1rem;
    margin-left: 10px;
    margin-right: 10px;
}

.parrafoHistoria {
    color: white;
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
}

/* ESTILOS PIE DE PAGINA */

#footer {
    position: relative;
    grid-area: footer;
    background-color: #0D0D0D;
    height: 15vh;
}

#footer h2 {
    text-align: center;
    color: white;
}

.contacto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.contacto li a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.enlaces-redes {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:1000px) {

    .iframeIndex { 
        width: 95%;
        height: 400px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .iframe-serie {
        width: 100%;
        height: 300px;
    }

    .img-index {
        width: 95%;
        height: 500px;
    }

    .img-historia {
        width: 100%;
    }

    
    .div-width {
        display: flex;
        justify-content: center;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contacto { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        @media screen and (max-width: 600px) {
        
            .iframeIndex {
                width: 95%;
                height: 300px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        
            .img-index {
                width: 95%;
                height: 300px;
            }
        }
    
    }

   